@page
@model Speed.Pages.GameModel
@{
    ViewData["Title"] = "Speed";
}
<div id="waiting_for_game">
    <h1>Waiting for game to start</h1>
</div>

<div id="game_div">
    <div class="row border border-danger border-3 rounded bg-danger">
        <div class="col col-md-2 col-sm-2" style="background-image: url('../lib/cards/card_back.png'); background-repeat: no-repeat; background-size: contain; background-position: center;">
            <h1 id="other_count" class="text-center text-white" style="margin: 50% auto;"></h1>
        </div>
        @for(int i = 0; i < 5; i ++)
        {
            <div class="col col-md-2 col-sm-2">
                <img class="other_hand img-fluid" src="../lib/cards/card_back.png"/>
            </div>
        }
    </div>
    <div class="row border border-white bg-info">
        <div class="col col-md-2 col-sm-2 offset-2">
            <img id="pick_one" class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
        <div class="col col-md-2 col-sm-2">
            <img id="play_pile_one" class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
        <div class="col col-md-2 col-sm-2">
            <img id="play_pile_two" class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
        <div class="col col-md-2 col-sm-2">
            <img id="pick_two" class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
    </div>
    <div class="row border border-success border-3 rounded bg-success">
        @for(int i = 0; i < 5; i ++)
        {
            <div class="col col-md-2 col-sm-2">
                <img id="player_hand_@i" class="player_hand img-fluid" src="../lib/cards/card_back.png"/>
            </div>
        }
        <div class="col col-md-2 col-sm-2" style="background-image: url('../lib/cards/card_back.png'); background-repeat: no-repeat; background-size: contain; background-position: center;">
            <h1 id="player_count" class="text-center text-white" style="margin: 50% auto;"></h1>
        </div>
    </div>
</div>


@*<div id="game_div">
    <div class="row">
        <!--Player one's deck of cards-->
        <div class="col col-md-2 col-sm-2" style="background-image: url('../lib/cards/card_back.png'); background-repeat: no-repeat; background-size: contain; background-position: center;">
            <h1 class="text-center text-white" style="margin: 50% auto;">@Model.PlayerOneDeck.Count</h1>
        </div>
        <!--Player one's hand of cards-->
        @foreach(var card in Model.PlayerOneHand)
        {
            <div class="col col-md-2 col-sm-2">   
                <img class="img-fluid" src="../lib/cards/@card.Image"/>
            </div>
        }   
    </div>
    <br />
    <br />
    <div class="row">
        <!--Pick Pile One-->
        <div class="col col-md-2 col-sm-2 offset-2">
            <img class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
        <!--Play Pile One-->
        @foreach(var card in Model.PlayPileOne)
        {
            <div class="col col-md-2 col-sm-2">
                <img class="img-fluid" src="../lib/cards/@card.Image"/>
            </div>
        }   
        <!--Play Pile Two-->
        @foreach(var card in Model.PlayPileTwo)
        {
            <div class="col col-md-2 col-sm-2">
                <img class="img-fluid" src="../lib/cards/@card.Image"/>
            </div>
        }   
        <!--Pick Pile Two-->
        <div class="col col-md-2 col-sm-2">
            <img class="img-fluid" src="../lib/cards/card_back.png"/>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <!--Player two's hand of cards-->
        @foreach(var card in Model.PlayerTwoHand)
        {
            <div class="col col-md-2 col-sm-2">
                <img class="img-fluid" src="../lib/cards/@card.Image"/>
            </div>
        } 
        <!--Player two's deck of cards-->
         <div class="col col-md-2 col-sm-2" style="background-image: url('../lib/cards/card_back.png'); background-repeat: no-repeat; background-size: contain; background-position: center;">
            <h1 class="text-center text-white" style="margin: 50% auto;">@Model.PlayerTwoDeck.Count</h1>
        </div>  
    </div>
</div>*@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>